.item-card-flex {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.item-card-flex-1 {
  flex: 1;
  text-align: center;
}

img {
  margin-top: 1.5rem;
}

#remove-button {
  padding: 0.5rem 2rem;
  background: transparent;
  border: 1px solid #83364b;
  font-family: 'Poppins', sans-serif;
  color: #83364b;
  font-weight: 900;
  transition: background 0.2s ease-in-out;
}

#remove-button:hover {
  background-color: #83364b;
  color: #ffffff;
  cursor: pointer;
}

@media all and (min-width: 800px) {
  .item-card-flex {
    flex-direction: row;
  }
}
