.input {
  margin: 0.2rem;
  padding: 0.25rem;
  width: 200px;
}

.form-flex {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%
}

#verified-address {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%
}