#confirmation {
  padding: 5rem 10rem;
}

.confirmation-flex {
  display: flex;
  flex-direction: row;
}

.confirmation-flex-1 {
  flex: 1;
  margin-right: 20px;
  padding: 2rem;
  border: 1px solid purple;
  margin-bottom: 1rem;
}

#confirmation-items-flex {
  display: flex;
  flex-direction: row;
}

.confirmation-items-flex-1 {
  flex: 1;
  text-align: left;
}

hr {
  margin: 0 1rem;
}
