@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

article {
  padding: 3rem;
}

#products {
  text-align: center;
}

.landing-flex {
  display: flex;
  flex-direction: column;
}

.landing-flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landing-flex-1 {
  flex: 1;
  font-family: 'Caudex', serif;
  font-size: 1rem;
}

.landing-flex-2 {
  flex: 2;
}

#landing {
  background: url(./sweet-bloom-cover-dark.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing > h1 {
  font-family: 'Caudex', serif;
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: 10px;
  text-align: center;
}

#landing > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 4px;
  color: #ffffff;
  text-align: center;
}

#products > h1 {
  font-weight: 900;
  /* text-align: center; */
  color: #83364b;
}

#products > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  /* text-align: center; */
}

#landing-button {
  padding: 1rem 4rem;
  background: transparent;
  border: 1px solid #83364b;
  font-family: 'Poppins', sans-serif;
  color: #83364b;
  font-weight: 900;
  /* margin-right: auto;
  margin-left: auto; */
  transition: background 0.5s ease-in-out;
}

#landing-button:hover {
  background-color: #83364b;
  color: #ffffff;
  cursor: pointer;
}

.landing-responsive {
  width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

#ad {
  background: url(./valentine-ad.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10rem;
  text-align: center;
  color: #ffffff;
}

#ad > h1 {
  font-size: 3rem;
}

#ad-button {
  padding: 1rem 4rem;
  background: transparent;
  border: 1px solid #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 900;
  transition: background 0.5s ease-in-out;
}

#ad-button:hover {
  background-color: #ffffff;
  color: #83364b;
  cursor: pointer;
}

@media all and (min-width: 800px) {
  .landing-flex {
    margin-right: auto;
    margin-left: auto;
  }

  .landing-flex {
    display: flex;
    flex-direction: row;
  }

  #landing {
    padding: 12rem 10rem;
  }

  #landing > h1 {
    font-size: 5rem;
  }

  .landing-responsive {
    width: 75%;
    height: auto;
  }

  .landing-flex-1 {
    padding: 4rem 1rem 1rem 1rem;
  }
}
