article {
  padding: 3rem;
}

.landing-flex {
  display: flex;
  flex-direction: column;
}

.landing-flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landing-flex-column > img {
  margin-right: auto;
  margin-left: auto;
}

.landing-flex-1 {
  flex: 1;
  background-color: rgba(248, 249, 250, 0.8);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.landing-flex-2 {
  flex: 2;
}

#landing {
  background: url(./bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing > h1 {
  font-size: 3rem;
}

#how-it-works,
#reviews {
  background-color: #dee2e6;
}

#benefits {
  background-color: #e9ecef;
}

#landing-button {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 1rem;
  margin-right: 50%;
  margin-left: 35%;
  text-align: center;
}

#landing-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.landing-responsive {
  width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

@media all and (min-width: 800px) {
  article {
    padding: 5% 10%;
  }

  .landing-flex {
    display: flex;
    flex-direction: row;
  }

  #landing {
    padding: 12rem 10rem;
  }

  #landing > h1 {
    font-size: 5rem;
  }

  #landing-button {
    margin-left: 42%;
  }

  .landing-responsive {
    width: 75%;
    height: auto;
  }

  .landing-flex-1 {
    padding: 4rem 1rem 1rem 1rem;
  }
}
