.item-flex {
  display: flex;
  flex-direction: column;
}

.item-flex-1 {
  flex: 1;
  text-align: left;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}


.item-flex-1-description {
  flex: 1;
  text-align: center;
}

#quantity {
  margin-bottom: 1rem;
  padding: 0.25rem;
  background: transparent;
  border: 1px solid #83364b;
  font-family: 'Poppins', sans-serif;
  color: #83364b;
  font-weight: 900;
  transition: background 0.5s ease-in-out;
}

.responsive {
  width: 100%;
  height: auto;
}

.item-square {
  width: 200px !important;
  height: 200px;
  object-fit: cover;
}

#item-button {
  padding: 1rem 4rem;
  background: transparent;
  border: 1px solid #83364b;
  font-family: 'Poppins', sans-serif;
  color: #83364b;
  font-weight: 900;
  transition: background 0.5s ease-in-out;
}

#item-button:hover {
  background-color: #83364b;
  color: #ffffff;
  cursor: pointer;
}

#item-h3 {
  font-family: 'Caudex', serif;
}

.item-p {
  font-size: 0.9rem;
  font-weight: bold;
}

@media all and (min-width: 800px) {
  .item-flex {
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
  }

  .item-flex-1-description {
    text-align: left;
  }

  .item-square {
    width: 500px !important;
    height: 500px;
    object-fit: cover;
  }
}
