.flex {
  display: flex;
  flex-direction: row;
  font-weight: 900;
}

.flex-1 {
  flex: 1;
  text-align: center;
}

nav {
  padding: 0.5rem;
  background-color: #f4f2ec;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
}