.flex {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
  text-align: center;
}

nav {
  padding: 0.5rem;
  background-color: #ced4da;
}

a {
  text-decoration: none;
  color: #333333;
}
