.cart-flex {
  display: flex;
  flex-direction: column;
}

.cart-column-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.cart-flex-1 {
  flex: 1;
  text-align: center;
  padding: 1rem;
}
.cart-flex-2 {
  flex: 2;
  text-align: center;
  padding: 1rem;
}

#cart {
  padding: 2rem;
}

#subtotal {
  border: 1px solid #333;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

@media all and (min-width: 800px) {
  .cart-flex {
    flex-direction: row;
  }

  .cart-column-flex {
    margin-bottom: 10rem;
  }

  #cart {
    padding: 5% 10%;
  }
}
