.cart-flex {
  display: flex;
  flex-direction: row;
}
.cart-flex-1 {
  flex: 1;
  border: 1px solid rgb(194, 39, 39);
  text-align: center;
}
.cart-flex-2 {
  flex: 2;
  border: 1px solid rgb(194, 39, 39);
  text-align: center;
}
