.shop-flex {
  display: flex;
  flex-direction: column;
}

.shop-flex-1 {
  flex: 1;
  padding: 1rem;
}

#shop {
  padding: 2rem;
}

#shop-button {
  margin-right: 1rem;
}

@media all and (min-width: 800px) {
  #shop {
    padding: 5% 10%;
  }

  .shop-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .shop-flex-1 {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 100%;
  }
}
