.shop-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop-flex-1 {
  flex: 1;
  padding: 1rem;
}

#shop {
  padding: 2rem;
}

#shop-button {
  margin-right: 1rem;
}

.responsive {
  width: 100%;
  height: auto;
}

@media all and (min-width: 800px) {
  #shop {
    padding: 5rem 10rem;
  }
}
