#group {
  padding: 2rem;
}

.shop-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.responsive {
  width: 100%;
  height: auto;
}

@media all and (min-width: 800px) {
  #group {
    padding: 5% 20%;
  }
}
