.checkout-flex {
  display: flex;
  flex-direction: column;
}

.checkout-flex-1 {
  flex: 1;
  text-align: center;
  padding: 2rem;
  border-left: 5px solid #83364b;
  background: #fffdfd;
  /* margin: 2rem; */
}

#checkout > h1,
#checkout > h3 {
  font-weight: 900;
  text-align: center;
  color: #83364b;
}

#checkout > p {
  text-align: center;
  font-style: oblique;
}

.checkout-flex-2 {
  flex: 2;
}

.checkout-flex-2 > h2 {
  text-align: center;
}

#checkout-step-3-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#checkout-step-3-flex-2 {
  flex: 2;
  text-align: center;
}

#checkout-step-3-flex-1 {
  text-align: left;
}

#checkout-to-conf-button {
  padding: 1rem 4rem;
  background: #83364b;
  border: 1px solid #83364b;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 900;
  transition: background 0.5s ease-in-out;
}

#order-summary-flex {
  display: flex;
  flex-direction: row;
}

.order-summary-flex-1 {
  flex: 1;
  text-align: left;
}

label {
  font-size: 0.8rem;
}

.input {
  padding: 0.5rem;
  background: transparent;
}

.shipping-option {
  display: inline;
}

.not-allowed {
  cursor: not-allowed;
}

p {
  font-weight: bold;
}

@media all and (min-width: 800px) {
  #checkout {
    padding: 5% 10%;
  }

  .checkout-flex {
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
  }

  .checkout-flex-1 {
    margin: 2rem;
  }

  #checkout-step-3-flex {
    flex-direction: row;
  }
}
