#checkout {
  padding: 2rem;
}

.checkout-flex {
  display: flex;
  flex-direction: column;
}

.checkout-flex-1 {
  flex: 1;
  text-align: center;
  padding: 2rem;
  border-left: 5px solid #83364b;
  background: #fffdfd;
  margin: 2rem;
}

.checkout-flex-2 {
  flex: 2;
  text-align: left;
}

#checkout-step-3-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#checkout-step-3-flex-2 {
  flex: 2;
  text-align: center;
}

#checkout-step-3-flex-1 {
  text-align: left;
}

#order-summary-flex {
  display: flex;
  flex-direction: row;
}

.order-summary-flex-1 {
  flex: 1;
  text-align: left;
}

.input {
  padding: 0.5rem;
}

.shipping-option {
  display: inline;
}

@media all and (min-width: 800px) {
  #checkout {
    padding: 5% 10%;
  }

  .checkout-flex {
    flex-direction: row;
  }

  #checkout-step-3-flex {
    flex-direction: row;
  }
}
