@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f2ec;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-family: 'Caudex', serif;
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}