.add-review-flex {
  display: flex;
  flex-direction: column;
}

.review-card {
  border: 1px solid #333333;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem 15rem;
}

#reviews-section {
  padding: 2rem 10rem;
}
