.add-review-flex {
  display: flex;
  flex-direction: column;
}

.review-card {
  border-left: 5px solid #83364b;
  background: #F0EDE5;
  padding: 1rem;
  margin: 2rem;
}

#reviews-section {
  padding: 2rem;
  margin-left: 20%;
  margin-right: 20%;
}

#review-button {
  padding: 1rem 4rem;
  background: transparent;
  border: 1px solid #83364b;
  font-family: 'Poppins', sans-serif;
  color: #83364b;
  font-weight: 900;
  transition: background 0.5s ease-in-out;
}

#review-button:hover {
  background-color: #83364b;
  color: #ffffff;
  cursor: pointer;
}

.far {
  cursor: pointer;
}

.far:hover {
  color: #83364b;
  transition: color 0.2s ease-in-out;
}

.options {
  text-align: right;
}

@media all and (min-width: 800px) {

  .review-card {
    margin-left: 20%;
    margin-right: 20%;
  }
}
